*{
    margin: 0;
    padding: 0;
}
div.topo{
background:  no-repeat center/cover url(/img/Image.png);
width: 100vw;
height: 500px;

}
.texto{
    display: flex;
    flex-direction: column;
    
    color: white;
    font-weight: bold;
    
} 
.run{
    
    margin-top: 30px;
}
.texto svg{
    margin-top: 30px;
    margin-left: 30px;
    
}
.texto h2{
    margin-top: 15px;
    font-size: 60px;
}
form{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 550px;
    border: black solid;
    margin: 10px auto;
    padding: 10px;
    background: #F3F3F3;
    font-weight: bold;
}
input.nome{
    width: 340px;
    height: 46px;
    border-radius: 12px;
    font-size: 16px;
}
input.email{
    width: 340px;
    height: 46px;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 20px;
}
input.comentario{
    width: 340px;
    height: 200px;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 20px;

}
label{
margin: 20px auto;
}
button{
    padding: 10px;
    border-radius: 12px;
    background: white;
}
form h2{
    padding: 5px;
}

